[Desktop Entry]
Version=1.0
Name=WSJTX-RDX6600
Comment=DAX and CAT tool
Exec=gnome-terminal --hide-menubar --geometry 40x6 --title WSJTX-6600 --command "/home/raymundd/Flexradio/g6ujb-flex-tools/start_wsjtx.sh RDX6600"
Icon=wsjtx_icon
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Audio;HamRadio;
StartupNotify=true